=input
  +border-radius(0)
  border: none
  border-bottom: 1px solid $border_color
  font-size: $font_size
  line-height: $line_height
  padding: 2px 0

  &:focus
    border-color: $input_border_color_focus
    outline-style: none
