# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: baa642fcc8332c8a90e0c1280695c55eb9d762582401d75759fbdd353485f7469a471bd60d3261fb5ce4db19e716d151bbc514e75eb2e34fd7b82e6f84d224dc

test:
  secret_key_base: e80828b1d4abb48b6322cced9f59799659544abae1a9a0f0de31a4b4f8f1ba10726002778372060b05aadbddd5732cfd8a33afbed08776c49452b74d43ebfc12

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
